.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-width: 0 1px;
  border-style: dashed;
  border-color: #a9a9a9;
  margin: 0 1px 0 1px;
  user-select: none;
}

.column.active:hover {
  background-color: #ffffe5;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  margin: 1px;
  user-select: none;
}
