.game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 5px solid #a9a9a9;
  border-left: 5px solid #a9a9a9;
  border-right: 5px solid #a9a9a9;
  box-shadow: 2px 2px 3px black;
  border-radius: 0 0 10px 10px;
  background: #d3d3d3;
  padding-top: 10px;
  user-select: none;

  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-width: 0 1px;
    border-style: dashed;
    border-color: #a9a9a9;
    margin: 0 1px 0 1px;
    user-select: none;

    img {
      width: 100%;
      height: auto;
      margin: 1px;
      user-select: none;
    }
  }

  .column:hover {
    background-color: #ffffe5;
    cursor: pointer;
  }
}
