$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$current-player-color: #ffff99;

h2 {
  font-family: $font-family;
}

.title-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.info-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-grow: .5;
  font-family: $font-family;

  button {
    font-size: large;
  }

  .player-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    padding: 5px;

    img {
      max-width: 30px;
      height: auto;
      margin-left: 5px;
    }
  }
}

.current-player {
  border: 2px solid black;
  border-radius: 20px;
  background-color: $current-player-color;
}

.winner {
  border: 2px solid black;
  border-radius: 20px;
  background-color: $current-player-color;

  ::after {
    content: " WINS!"
  }
}

.switchable-player:hover {
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 5px solid #a9a9a9;
  border-left: 5px solid #a9a9a9;
  border-right: 5px solid #a9a9a9;
  box-shadow: 2px 2px 3px black;
  border-radius: 0 0 10px 10px;
  background: #d3d3d3;
  padding-top: 10px;
  user-select: none;

  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-width: 0 1px;
    border-style: dashed;
    border-color: #a9a9a9;
    margin: 0 1px 0 1px;
    user-select: none;

    .cell {
      user-select: none;

      img {
        width: 100%;
        height: auto;
        margin: 1px;
        user-select: none;
      }
    }
  }

  .column:hover {
    background-color: #ffffe5;
    cursor: pointer;
  }
}
