$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$current-player-color: #ffff99;

h1 {
  font-family: $font-family;
}

.title-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.info-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-grow: .5;
  font-family: $font-family;

  button {
    font-size: large;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border-width: 0;
    font-family: $font-family;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .player-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    padding: 5px;

    img {
      max-width: 30px;
      height: auto;
      margin-left: 5px;
    }
  }
}

.current-player {
  border: 2px solid black;
  border-radius: 20px;
  background-color: $current-player-color;
}

.winner {
  border: 2px solid black;
  border-radius: 20px;
  background-color: $current-player-color;

  ::after {
    content: " WINS!"
  }
}

.switchable-player:hover {
  cursor: pointer;
}

.help-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 10;
  background-color: rgba(255, 255, 255, .8);

  img {
    margin-top: 120px;
    width: 95%;
    height: auto;
  }
}